<!-- landingPage.html -->
<html>
  <head>
    <title>GSM</title>
    <script src="../../public/js/react-0.13.3/build/react.js"></script>
    <script src="../../public/js/react-0.13.3/build/JSXTransformer.js"></script>
    <script src="../../public/js/jquery/jquery.js"></script>

  <body>
    Hello World!
    <div id="example"></div>
    <script type="text/jsx" src="../../client/build/Example.js"></script>




  </body>
</html>
